section#blogpost
    // background-color: #ccc

    .bpartent
        position: relative
        .bchild
            position: absolute
            top: 0
            left: 0
            background-color: rgba(255,255,255,0.8)



